<div class="container">
<div class="form-group">
    <label for="codiceInput">Codice prodotto</label>
    <input type="email" class="form-control" id="codiceInput"  placeholder="Inserisci il codice del prodotto">
  </div>
<div class="form-group">
    <label for="nomeInput">Nome prodotto</label>
    <input type="email" class="form-control" id="nomeInput"  placeholder="Inserisci il nome del prodotto">
  </div>
<div class="form-group">
    <label for="prezzoInput">Prezzo</label>
    <input type="email" class="form-control" id="prezzoInput"  placeholder="Inserisci il prezzo del prodotto">
  </div>
<div class="form-group">
    <label for="dataInput">Data di scadenza</label>
    <input type="date" class="form-control" id="dataInput"  placeholder="Inserisci la data di scadenza del prodotto">
  </div>
<div class="form-group">
    <label for="quantInput">Quantità prodotto</label>
    <input type="text" class="form-control" id="quantInput"  placeholder="Inserisci la quantita del prodotto">
  </div>
</div>